<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-center">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">BODA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['/boda']">LOCALIZACIÓN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['/galeria']">REGALOS</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button type="button" class="btn btn-dark" [routerLink]="['/confirmar']">RSVP</button>
            </form>
        </div>
    </nav>
</div>